<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{adminname}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- 显示错误的flash控件 -->

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
        </div>
    {% endfor %}
{% block page_content %}
    {% endblock %}
        {% endblock %}
</div>



<div class="panel panel-primary" style="padding:0px 300px 0px 300px; border:0px;">
    <div class="panel-heading">
        <h3 class="panel-title"  style="text-align: center;">请选择你下来的操作</h3>
    </div>
    <div class="panel-body">
    <div  style="text-align: center;">
        <input type="button" value="图书管理" onclick="window.location='http://39.107.69.30/Flask/Book/add/'"  class="btn btn-success  btn-lg"/>
        <br><br>
        <input type="button" value="图书借阅" onclick="window.location='http://39.107.69.30/Flask/User/add/'" class="btn btn-success  btn-lg"/>
        <br><br>
        <input type="button" value="图书识别" onclick="window.location='http://39.107.69.30/Flask/OCR/'" class="btn btn-success  btn-lg"/>

    </div>

    </div>
</div>
</body>
</html>
